/* vim: set sw=2 : */

/* Validate as CSS v3.0 */

body {
  background:		#222;
  margin:		0px;
  font:			normal 12px/1.5 serif;
  /*hyphenate: 		auto;
  hyphenate-lines: 	3;*/ /*These are a bit early*/
}

h2 {
  font-family:		serif;
  text-shadow:          white 0em 0em 0.1em;
  line-height:		1;
  margin-top:		1em;
  margin-bottom:	1em
}

h3 {
  /*text-align:		center;*/
  font-family:		serif;
  text-shadow:          white 0em 0em 0.1em;
  line-height:		1.286;
  margin-top:		1.286em;
  margin-bottom:	1.286em
  /*padding-bottom:	5px;*/
}

p {
  margin:		1.5em 0em;
}

blockquote {
  margin:		1.5em;
}

a { 
  text-decoration: 	none; 
  color: 		#7F7F7F;
}

a.footer { 
  font-weight: 		bold; 
  text-decoration:	none; 
  color: 		#222;
}

table {
  border-spacing: 	0px 0px;
  margin-left:		auto; 
  margin-right:		auto; 
  /*margin-left:		20px; */
}

span.fade {
  color:		#aaa;
}

span.stark {
  color:		#000;
}

#container {
  background:		#63737e; 
  width:		670px;
  margin-left: 		auto;
  margin-right: 	auto;
}

#header {
  font-family:		arial;
  position:		relative;
  background:		#eeeff0 url(images/header.png) no-repeat top left;
  height:		150px;
  color:		#444;
  padding:		60px 80px 0px 80px;
}

#textzone {
  font-family:		arial;
  position:		relative;
  background:		#eeeff0 url(images/textBackground.png) repeat-y top left;
  color:		#444;
  padding:		0px 80px 12px 80px;
}

#footer {
  position:		relative;
  background:		transparent url(images/footer.png) no-repeat top left;
  padding-top:		2em;
  padding-bottom:	2em;
  text-align:		center;
  text-transform: 	uppercase;
  font-size:		10px;
}

  #footer ul li {
    display:            inline;
    margin-right:       1em;
  }

#quickSummary {
  padding-right:	70px;
}

#display {
  position:             relative;
  margin-left: 		auto;
  margin-right: 	auto;
  margin-top:		30px;
  padding:		5px 5px 0px 5px;
  background:		#000;
  width:                399px;
}

  #display img {
    border:             none;
  }

  #display .caption {
    border-top:         1px solid #999;
    font:		normal 9pt/1.5 monospace;
    text-align:         center;
    width:              399px;
    z-index:            10;
    background-color:   #000;   
    color:              #fff;   
    position:           absolute;  
    bottom:             0px;
  }

  #display .caption .content {  
    margin:             1ex;
  }

#filebrowser {
  background:		#191919;
  margin-left: 		auto;
  margin-right: 	auto;
  margin-top:		30px;
  width:		400px;
  padding:		10px 10px 10px 10px;
  color:		#aaa;
  text-align:		center;
}

.mono {
  font:			normal 9pt/1.5 monospace;
  margin-left:		20px;
}

