/* Color palette at colorschemedesigner.com/#3w61T7koEw0w0 (triad) */
/* Grid:    width=800px
 *          left/right margin=37px
 *          top margin=90px
 *          columns=10/60px
 *          column gutter=1em(14px)
 *          rows=1em
 *          rows gutter=0.5em   
 */
/* Validate this file at CSS level 3 */

body {
  background:		#333;
  margin:		0px;
  /*font:			normal 16px/1.5 "Handbook Pro Regular",Helvetica,Geneva,sans-serif;
  font-size-adjust:     0.441;*/
  font:			normal 14px/1.5 "Centro Sans Pro Regular",Helvetica,Geneva,sans-serif;
  font-size-adjust:     0.493;
  /* Advanced typographic properties are still a bit early for now */
  /*hyphenate: 		auto;
  hyphenate-lines: 	3;*/
}

h2 {
  text-shadow:          #fff 1px 1px 0.1em;
  line-height:		1;
  margin-top:		1em;
  margin-bottom:	1.5em;
  font-family:          "Transport Medium",Helvetica,Geneva,sans-serif;
}

h3 {
  text-shadow:          #fff 1px 1px 0.1em;
  line-height:		1;
  margin-top:		3em;
  margin-bottom:	1em;
  font-family:          "Transport Medium",Helvetica,Geneva,sans-serif;
}

p {
  /*margin:		1.286em 0em;*/
}

a { 
  text-decoration: 	none; 
  color: 		#804631;
}

a.footer { 
  font-weight: 		bold; 
  text-decoration:	none; 
  color: 		#333;
}

abbr {
  border-bottom:        none;
  cursor:               help;
}

span.fade {
  color:		#a8b5bf;
}

.mono {
  font:			normal 14px/1.5 "Courier new",fixed;
}

.sc {
  font-variant:	        small-caps;
}

img#doodle {
  position:             absolute;
  right:                37px;
  top:                  0;
  width:                60px;
  border:               none;
  -webkit-box-shadow:   #a8b5bf 1px 1px 0.5em;
  -moz-box-shadow:      #a8b5bf 1px 1px 0.5em;
}

img.simplecover {
  float:                left;
  margin-top:           1ex;
  margin-bottom:        1ex;
  margin-right:         1em;
  width:                60px;
}

img.cover {
  float:                left;
  margin-top:           1ex;
  margin-bottom:        1ex;
  margin-right:         1em;
  width:                60px;
  -webkit-box-shadow:   #a8b5bf 3px 3px 0.3em;
  -moz-box-shadow:      #a8b5bf 3px 3px 0.3em;
}

ul.bib {
  list-style-type:      none;
  padding:              0px;
}

  ul.bib li.title {
    font-style:         italic;
    display:            inline;
  }

    ul.bib li.title a {
      font-style:       normal;
  }
  
  ul.bib li.howpub {
  }

  ul.bib li.coauthors {
  }

  ul.bib li.abstract {
   margin-top:          1em;          
   margin-bottom:       1.5em;
  }

div#container {
  position:             relative;
  background:		#829daf; 
  width:		800px;
  margin-left: 		auto;
  margin-right: 	auto;
  padding:              70px 80px 0px 80px;
  background:		-moz-linear-gradient(top, #b2cddf, #829daf 300px); 
  background:		-webkit-gradient(linear, left top, 0 300, from(#b2cddf), to(#829daf)); 
}

div#textzone {
  position:		relative;
  background-color:     rgba(245,244,239,0.90);
  color:		#4f585e;
  padding:		20px 37px 20px 37px;
  border-left:          1px solid white;
  border-top:           1px solid white;
  -moz-border-radius:   2px;
  -webkit-border-radius:2px;
  -moz-box-shadow:      #333 5px 5px 1em;
  -webkit-box-shadow:   #333 5px 5px 1em;
}

div#quickSummary {
  padding-right:        74px;
  padding-bottom:       0.5em;
}

div#address {
  text-shadow:          #fff 1px 1px 0.1em;
  background-color:     rgba(238,239,240,0.3);
  padding:              10px 10px 10px 77px;
  border-right:         1px solid white;
  border-bottom:        1px solid white;
  border-left:          1px solid #a8b5bf;
  border-top:           1px solid #a8b5bf;
  -moz-border-radius:   3px;
  -webkit-border-radius:3px;
  /*-moz-box-shadow:      #a8b5bf 3px 3px 0.3em;
  -webkit-box-shadow:   #a8b5bf 3px 3px 0.3em;*/
}

div#paperpigmentmail {
  display:              block;
  position:             relative;
  float:                left;
  padding-right:        0.5em;
  border-right:         1px solid #4f585e;
}

  div#paperpigmentmail table {
    border-spacing: 	0px 0px;
    text-align:         right;
  }

div#phonenumber {
  display:              none;
  position:             relative;
  float:                left;
  font-size:            10px;
  text-align:           center;
  -webkit-transform:    rotate(-90deg) translate(-4em,6em); 
  -moz-transform:       rotate(-90deg) translate(-4em,6em);	
}

div#digitalmail {
  display:              block;
  position:             relative;
  float:                left;
  margin-top:           0.8em;
  padding-left:         0.5em;
}

  div#digitalmail table {
    border-spacing: 	0px 0px;
    text-align:         left;
  }

.clear {
  clear:                both;
}

div#footer {
  position:		relative;
  background-color:	transparent;
  padding-top:		20px;
  padding-bottom:	20px;
  text-align:		center;
  text-transform: 	uppercase;
  font-size:		11px;
  color: 		#333;
}

  div#footer ul li {
    display:            inline;
    margin-right:       1em;
  }

/*
 * The following is only used in Visual.
 */

div#display {
}

  div#display img {
    margin-top: 	30px;
    margin-bottom: 	30px;
    margin-left: 	auto;
    margin-right: 	auto;
    display:            block;
  }

  /* Deprecated */
  div#display table {
    margin-top:         5ex;
    margin-bottom:      10ex;
  }

  div#display table td {
    padding-right:      5ex;
    padding-left:       5ex;
  }

  div#display .caption {
    border-top:         1px solid #aaa;
    font:		normal 9pt/1.5 "Courier New";
    text-align:         center;
    width:              419px;
    z-index:            10;
    background:         #000;   
    color:              #fff;   
    position:           absolute;  
    bottom:             0px;
  }

  div#display .caption .content {  
    margin:             1ex;
  }

/* vim: set sw=2 : */
